NODE_ENV=development
PORT=xxxx
APP_NAME=hr-saas-backend
API_PREFIX=/api/vx
APP_URL=http://localhost:x000

POSTGRES_HOST=xxx.x.x.x
POSTGRES_PORT=xxxx
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_db_password
POSTGRES_DATABASE=your_db_name
POSTGRES_CONNECTION_LIMIT=10
POSTGRES_SSL=true

REDIS_HOST=xxx.x.x.x
REDIS_PORT=YOUR_REDIS_PORT
REDIS_PASSWORD=your_passoword
REDIS_DB=0

CLERK_PUBLISHABLE_KEY=pk_test_your_perishable_key
CLERK_SECRET_KEY=sk_test_your_test_key

RAZORPAY_KEY_ID=rzp_test_xxx
RAZORPAY_KEY_SECRET=secret
RAZORPAY_WEBHOOK_SECRET=webhook_secret

RATE_LIMIT_WINDOW_MS=xxxxxxx
RATE_LIMIT_MAX=xxx

ATTENDANCE_TIMEZONE=UTC
ATTENDANCE_LATE_ARRIVAL_CUTOFF=09:00:00
